AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: WebKit
BreakStringLiterals: false
ColumnLimit: 100
ContinuationIndentWidth: 4
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
TabWidth: 4